{% extends "base_home.html" %}

{% block content %}
<div id="about-container">
<p id="about-head">About Us</p>
<p id="about-body-head">
    Welcome to Catena Hub!
</p>
<div id="about-body">
<p class="about-body">
    <p id="about-p">
    We are a vibrant and inclusive community dedicated to fostering a passion for technology and continous learning.
    Whether you're a beginner just starting your journey or an experienced professional lokking to expand your skillset,
    you'll find a supportive environment here.
    </p>
    <h3>Our Mission</h3>
    <p id="about-p">
        Our mission is to empower indiviuals through accessible,
        high-quality educational resources and a collaborative network.
        We believe in the power of community-driven learning to inspire 
        innovation,creativity,and professional growth.
    </p>
    <h3>What We Offer</h3>
    <p id="about-p">
        <ul>
            <li>
                <b>Learning Resources</b>: Access a wide range of tutorials,articles,and courses on various tech
                topics including programming, web development, data science, cybersecurity, and more.
            </li>
            <li>
                <b>Workshops and Events</b>: Participate in hand-on workshops, hackathons, webinars, and meetups
                designed to enhance your skills and provide real-world experience.
            </li>
            <li>
                <b>Project collaboration</b>: Join forces with fellow members on exciting projects, contributing your skills 
                and learning from others in the process
            </li>
            <li>
                <b>Mentorship</b>: Connect with experienced mentors who are ready to guide you through your learning journey,
                 offering personalized advice and support.
            </li>
            <li>
                <b>Discussion Forums</b>: Engage in lively disscussions, ask questions, share knowledge, and troubleshoot issues in our community forums.
            </li>
        </ul>
    </p>
    <h3>Our Values</h3>
    <ul>
        <li>
            <b>Inclusivity</b>: We welcome members form all backgrounds and skill levels.
            Diversity enriches our community and drives creativity.
        </li>
        <li>
            <b>Collaboration</b>: By working together, we achieve more. We encourage collaboration
            and knowledge sharing.
        </li>
        <li>
            <b>Lifelong Learning</b>: Technology is ever-evolving, and so are we. We promote a mindset
            of continous learning and adaptation.
        </li>
        <li>
            <b>Support and Respect</b>: We foster a supportive environment where a everyone is respected and valued.
        </li>
    </ul>
    <h3>Join Us</h3>
    <p id="about-p" class="last-p">
        Becoming a member of Catena Hub is easy and free. Join us today to start learning
        , collaborating, and growing with a community that shares your passion for technology. 

    </p>
</p>
</div>
</div>
{% endblock %}